<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="back.auth.review.mapper.BoardMapper">
    <!-- Create -->
    <insert id="insertBoard" parameterType="back.auth.review.dto.board.request.BoardRequest">
        INSERT INTO TCMN_BOARD (TITLE, CONTENTS, USER_ID)
        VALUES (#{board.title}, #{board.contents}, #{userId})
    </insert>

    <!-- Read: Single -->
    <select id="selectBoardById" resultType="BoardResponse">
        SELECT BOARD_ID AS boardId, TITLE, CONTENTS, USER_ID AS userId
        FROM TCMN_BOARD
        WHERE BOARD_ID = #{boardId}
    </select>

    <!-- Read: All -->
    <select id="selectAllBoards" resultType="BoardResponse">
        SELECT BOARD_ID AS boardId, TITLE, CONTENTS, USER_ID AS userId
        FROM TCMN_BOARD
    </select>

    <!-- Update -->
    <update id="updateBoard" parameterType="back.auth.review.dto.board.request.BoardRequest">
        UPDATE TCMN_BOARD
        SET TITLE = #{board.title},
            CONTENTS = #{board.contents},
            USER_ID = #{userId}
        WHERE BOARD_ID = #{boardId}
    </update>

    <!-- Delete -->
    <delete id="deleteBoard">
        DELETE FROM TCMN_BOARD
        WHERE BOARD_ID = #{boardId}
    </delete>
</mapper>